<div class="message-container <%= message.user == current_user ? 'user2' : 'user1' %>" id="message-<%= message.id %>">
  <i class="author">
    <span><%= message.user.username %></span>
    <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
  </i>
  <p><%= message.content %></p>
</div>
