<div class="wrapper">
  <div class="container mt-3 mb-5">
    <div class="row justify-content-center">
      <div class="col-6 col-6">
        <h2>Sign up</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :first_name,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "Your first name", :placeholder => 'eg. George' }%>
            <%= f.input :last_name,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "Your last name", :placeholder => 'eg. Smith' }%>
            <%= f.input :username,
                        required: true,
                        autofocus:true,
                        label: 'Username',
                        placeholder: 'e.g. MorningStar' %>
            
            <%= f.input :country,
                        as: :country,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "Choose your country", :placeholder => 'eg. France' }%>

            <%= f.input :date_of_birth,
                        as: :string,
                        start_year: 1920,
                        end_year: 2002,
                        input_html: {type: :date},
                        label: 'Date of birth' %>
            <%= f.input :gender,
                        as: :radio_buttons,
                        collection_wrapper_tag: 'div',
                        collection_wrapper_class: 'category-wrapper',
                        input_html: {class: 'category-selector'},
                        item_wrapper_class: 'category-item',
                        collection:["Female", "Male", "Rather not say"] %>
            <%= f.input :language,
                        label: 'Language',
                        placeholder: 'e.g. English' %>
            <%= f.input :image,
                        as: :file,
                        label: 'Your avatar' %>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email", :placeholder => 'eg. george.smith@gmail.com' }%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Sign up", class: "btn btn" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
