<div class="container-profile">
  <div class="row">
    <div class="col">
      <div class="card border-profile card-profile text-center">
        <div class="card-body">
          <div class="panel">
            <div class="user-heading round">
              <% if @user.image.attached? %>
                <%= cl_image_tag @user.image.key, class: "avatar-bordered" %>
              <% elsif @user.photo.present? %>
                <%= image_tag @user.photo, class: "avatar-bordered" %>
              <% else %>
                <%= image_tag 'https://bootdey.com/img/Content/avatar/avatar3.png', class: "avatar-bordered" %>
              <% end %>

                <h2 class="pt-2"><%= @user.username %></h2>
                <h6><strong>Name: </strong><%= @user.first_name %> <%= @user.last_name %></h6>
                <h6><strong>Joined: </strong> <%= @user.created_at.strftime("%B %d, %Y") %></h6>
                <h6><strong>Current streak: </strong> <%= (Date.today.to_date - @user.created_at.to_date).to_i %></h6>
                <h6><strong>Longest streak: </strong> <%= (Date.today.to_date - @user.created_at.to_date).to_i %></h6>
                <br>
                <h6><strong>Date of birth: </strong>
                  <% if @user.date_of_birth.present? %>
                    <%= @user.date_of_birth.strftime("%d %B, %Y") %>
                  <% else %>
                    <%= "Not available" %>
                  <% end %></h6>
                  <br>
                  <h6><strong>Country: </strong>
                    <% if @user.country.present? %>
                      <%= @user.country  %>
                    <% else %>
                      <%= "Not available" %>
                    <% end %></h6>
                  </div>
                  <% if current_user == @user %>
                  <div class="btn btn-1"><%= link_to "Edit profile", edit_user_path(current_user) %></div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <div class="col-5">
            <div class="card border-profile text-center">

              <div class="card-body card-body-profile">
                <h1 class="card-title pb-0"><%= @user.histories.last.goal.name %></h1>
                 <% if @user.buddy.present? %>
                <h2><%= image_tag "hands.png", class: "hello", alt:"" %> with <%= link_to @user.buddy.username, user_path(@user.buddy.id), class: "btn-profile" %></h2>
                  <% end %>
              </div>
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active-1 btn-profile-blue" id="nav-achievments-tab" data-toggle="tab" href="#nav-achievments" role="tab" aria-controls="nav-achievments" aria-selected="true">Achievements</a>
                  <a class="nav-item nav-link btn-profile-blue" id="nav-bio-tab" data-toggle="tab" href="#nav-bio" role="tab" aria-controls="nav-bio" aria-selected="false">Bio</a>
                  <a class="nav-item nav-link btn-profile-blue" id="nav-motivation-tab" data-toggle="tab" href="#nav-motivation" role="tab" aria-controls="nav-motivation" aria-selected="false">Motivation</a>
                  <a class="nav-item nav-link btn-profile-blue" id="nav-history-tab" data-toggle="tab" href="#nav-history" role="tab" aria-controls="nav-history" aria-selected="false">History</a>
                </div>
              </nav>
              <div class="tab-content pt-3 pb-2" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-achievments" role="tabpanel" aria-labelledby="nav-achievments-tab">Mini daily goals + tick boxes</div>
                <div class="tab-pane fade" id="nav-bio" role="tabpanel" aria-labelledby="nav-bio-tab"><p><%= @user.introduction %></p></div>
                <div class="tab-pane fade" id="nav-motivation" role="tabpanel" aria-labelledby="nav-motivation-tab"><p><%= @user.goal_description %></p></div>
                <div class="tab-pane fade" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab"><h4><%= @user.histories.last.goal.name %></h4>
                                                <p>Started: <%= @user.histories.last.start_date %></p>
                                                <p>Achieved: In progress</p></div>
              </div>
            </div>
          </div>
          <div class="col">
           <div class="card border-profile card-profile text-center">

            <div class="card-body">
              <div class="panel">
                <div class="user-heading round">
                  <% if @user.buddy.present? %>
                    <% if @user.buddy.image.attached? %>
                      <%= cl_image_tag @user.buddy.image.key, class: "avatar-bordered" %>
                    <% elsif @user.buddy.photo.present? %>
                      <%= image_tag @user.photo, class: "avatar-bordered" %>
                    <% else %>
                      <%= image_tag 'https://bootdey.com/img/Content/avatar/avatar3.png', class: "avatar-bordered" %>
                    <% end %>
                  <% end %>

                  <% if @user.buddy.present? %>
                    <h1><%= @user.buddy.username %></h1>
                  <% else %>
                    <h1>No buddy yet</h1>
                    <h6>Search in progress...</h6>
                  <% end %>
                  <% if @user.buddy.present? %>
                    <h6><strong>Name:</strong> <%= @user.buddy.first_name %> <%= @user.buddy.last_name %></h6>
                  <% end %>
                  <% if @user.buddy.present? %>
                    <h6><strong>Joined: </strong> <%= @user.buddy.created_at.strftime("%B %d, %Y") %></h6>
                  <% end %>
                  <% if @user.buddy.present? %>
                    <h6><strong>Current streak: </strong> <%= (Date.today.to_date - @user.buddy.created_at.to_date).to_i %></h6>
                  <% end %>
                  <% if @user.buddy.present? %>
                    <h6><strong>Longest streak: </strong> <%= (Date.today.to_date - @user.created_at.to_date).to_i %></h6>
                  <% end %>
                  <br>
                  <% if @user.buddy.present? %>
                    <h6><strong>Date of birth: </strong>
                    <% if @user.buddy.date_of_birth.present? %>
                      <%= @user.buddy.date_of_birth.strftime("%d %B, %Y") %>
                    <% else %>
                      <%= "Not available" %>
                    <% end %></h6>
                  <% end %>
                  <br>
                  <% if @user.buddy.present? %>
                    <h6><strong>Country: </strong>
                    <% if @user.buddy.country.present? %>
                      <%= @user.buddy.country  %>
                    <% else %>
                      <%= "Not available" %>
                    <% end %></h6>
                  <% end %>
                   <% if @user.buddy.present? %>
                 <h6 class="card-text d-flex align-items-center"><div class="row"><%= image_tag "hello.png", class: "hello pr-3", alt:"" %> </div> <%= link_to 'SHARE SOME MOTIVATION', buddyship_path(@user.buddyships.last), class: "btn-profile" %></h6>
                 <% end %>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
