<div class="container-profile">
  <div class="row">
    <div class="col">
      <div class="card border-profile card-profile text-center">

        <!-- My profile -->

        <div class="card-body">
          <div class="panel">
            <div class="user-heading round">
              <% if @user.image.attached? %>
                <%= cl_image_tag @user.image.key, class: "avatar-bordered" %>
              <% elsif @user.photo.present? %>
                <%= image_tag @user.photo, class: "avatar-bordered" %>
              <% else %>
                <%= image_tag 'https://bootdey.com/img/Content/avatar/avatar3.png', class: "avatar-bordered" %>
              <% end %>


                <h2 class="pt-3 pb-5 edit"><%= @user.username %>
                 <%= link_to edit_user_path(current_user, goal_id: @user.histories.last.goal_id) do %>
                        <i class="fas fa-user-edit fa-xs"></i>
                      <% end %>
                </h2>
                <h6 class="text-center border-top pt-2 streak"><strong>Current streak:</strong> <%= @user.streak%></h6>
                <h6 class="text-center border-bottom pb-2 streak"><strong>Longest streak: </strong> <%= @user.longest_streak %></h6>

                <br>
                <h6 class="text-center"><strong>Name: </strong><%= @user.first_name %> <%= @user.last_name %></h6>
                <h6 class="text-center"><strong>Joined: </strong> <%= @user.created_at.strftime("%B %d, %Y") %></h6>
                <h6 class="text-center"><strong>Date of birth: </strong>
                  <% if @user.date_of_birth.present? %>
                    <%= @user.date_of_birth.strftime("%B %d, %Y") %>
                  <% else %>
                    <%= "Not available" %>
                  <% end %></h6>
                  <h6 class="text-center"><strong>Country: </strong>
                    <% if @user.country.present? %>
                      <%= @user.country_name  %>
                    <% else %>
                      <%= "Not available" %>
                    <% end %></h6>
                  </div>
                  <br>
                  <br>
                  <% if current_user == @user %>
                  <div class="btn-profile-less"><%= link_to "Remove buddy", buddyship_path, method: :delete,
                     data: { confirm: "Are you sure?" } %></div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <!-- middle interactve board -->

          <div class="col-5">
            <div class="card border-profile text-center">

              <div class="card-body card-body-profile">
                <h1 class="card-title"><%= @user.histories.last.goal.name %></h1>
                <div class="btn-profile-blue"><%= link_to "Change my goal", goals_path(current_user) %></div>
                 <% if @user.buddy.present? %>
                <h2><%= image_tag "hands.png", class: "hello", alt:"" %> with <%= link_to @user.buddy.username, user_path(@user.buddy.id), class: "btn-profile" %></h2>
                  <% end %>
              </div>
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active-1 btn-profile-blue" id="nav-achievments-tab" data-toggle="tab" href="#nav-achievments" role="tab" aria-controls="nav-achievments" aria-selected="true">Daily goals</a>
                  <a class="nav-item nav-link btn-profile-blue" id="nav-bio-tab" data-toggle="tab" href="#nav-bio" role="tab" aria-controls="nav-bio" aria-selected="false">Bio</a>
                  <a class="nav-item nav-link btn-profile-blue" id="nav-motivation-tab" data-toggle="tab" href="#nav-motivation" role="tab" aria-controls="nav-motivation" aria-selected="false">Motivation</a>
                  <a class="nav-item nav-link btn-profile-blue" id="nav-history-tab" data-toggle="tab" href="#nav-history" role="tab" aria-controls="nav-history" aria-selected="false">History</a>
                </div>
              </nav>
              <div class="tab-content pt-3 pb-2" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-achievments" role="tabpanel" aria-labelledby="nav-achievments-tab">

                  <% @user.daily_goals.each do |goal| %>
                    <div class="d-flex justify-content-start pl-5">
                      <% if goal.done %>
                        <%= link_to daily_goal_path(goal), method: :patch do %>
                          <p><i class="far fa-check-square"></i></p>
                        <% end %>
                      <% else %>
                        <%= link_to daily_goal_path(goal), method: :patch do %>
                          <p><i class="far fa-square"></i></p>
                        <% end %>
                      <% end %>
                      <p class="pl-4"><%= goal.name %>
                      <%= link_to daily_goal_path(goal), method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <div class= "goal-links"><i class="far fa-trash-alt pl-2"></i></div>
                      <% end %>
                      </p>
                    </div>
                  <% end %>
                  <div class="container-profile">
                    <% if current_user == @user %>
                    <%= simple_form_for @daily_goal do |f| %>
                      <h6><%= f.input :name, label: "Add new daily goal", class: "" %></h6>
                      <%= f.submit "Submit", class: "btn-profile-less-less mb-2" %>
                    <% end %>
                    <% end %>
                  </div>
                </div>
                <div class="tab-pane fade pr-3 pl-3" id="nav-bio" role="tabpanel" aria-labelledby="nav-bio-tab"><p><%= @user.introduction %></p></div>
                <div class="tab-pane fade pr-3 pl-3" id="nav-motivation" role="tabpanel" aria-labelledby="nav-motivation-tab"><p><%= @user.goal_description %></p></div>
                <div class="tab-pane fade pr-3 pl-3" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab"><h4>
                  <% @user.histories.order(:start_date).reverse.each do |history| %></h4>
                    <h6 class="text-center mr-4"><%= history.goal.name %></h6>
                    <p>Started: <%= history.start_date.strftime("%B %d, %Y") %></p>
                      <p>Achieved:
                        <% if history.end_date.present? %>
                          <%= history.end_date.strftime("%B %d, %Y") %>
                        <% else %>
                        In progress
                        <% end %>
                        </p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <!-- Buddy profile -->

          <div class="col">
           <div class="card border-profile card-profile text-center">

            <div class="card-body">
              <div class="panel">
                <div class="user-heading round">
                  <% if @user.buddy.present? %>
                    <% if @user.buddy.image.attached? %>
                      <%= cl_image_tag @user.buddy.image.key, class: "avatar-bordered" %>
                    <% elsif @user.buddy.photo.present? %>
                      <%= image_tag @user.buddy.photo, class: "avatar-bordered" %>
                    <% else %>
                      <%= image_tag 'https://bootdey.com/img/Content/avatar/avatar3.png', class: "avatar-bordered" %>
                    <% end %>
                  <% end %>

                  <% if @user.buddy.present? %>
                    <h2 class="pt-3 pb-0"><%= @user.buddy.username %></h2>
                    <div class="btn-profile-blue pt-0 pb-3"><%= link_to "Find another buddy", new_buddyship_path(current_user) %></div>
                  <% else %>
                  <br>
                    <h1>No buddy yet</h1>
                    <br>
                    <br>
                    <div class="btn"><%= link_to "Find your buddy", new_buddyship_path %></div>
                  <% end %>
                  <% if @user.buddy.present? %>
                    <h6 class="text-center border-top pt-2 streak"><strong>Current streak: </strong> <%= @user.buddy.streak %></h6>
                  <% end %>
                  <% if @user.buddy.present? %>
                    <h6 class="text-center border-bottom pb-2 streak"><strong>Longest streak: </strong> <%= @user.buddy.longest_streak %></h6>
                  <% end %>
                  <br>
                  <% if @user.buddy.present? %>
                    <h6 class="text-center"><strong>Name:</strong> <%= @user.buddy.first_name %> <%= @user.buddy.last_name %></h6>
                  <% end %>
                  <% if @user.buddy.present? %>
                    <h6 class="text-center"><strong>Joined: </strong> <%= @user.buddy.created_at.strftime("%B %d, %Y") %></h6>
                  <% end %>
                  <% if @user.buddy.present? %>
                    <h6 class="text-center"><strong>Date of birth: </strong>
                    <% if @user.buddy.date_of_birth.present? %>
                      <%= @user.buddy.date_of_birth.strftime("%B %d, %Y") %>
                    <% else %>
                      <%= "Not available" %>
                    <% end %></h6>
                  <% end %>
                  <% if @user.buddy.present? %>
                    <h6 class="text-center"><strong>Country: </strong>
                    <% if @user.buddy.country.present? %>
                      <%= @user.buddy.country_name %>
                    <% else %>
                      <%= "Not available" %>
                    <% end %></h6>
                  <% end %>
                  <% if @user.buddy.present? %>
                 <h6 class="card-text d-flex align-items-center pl-5"><div class="row d-flex align-items-center"><%= image_tag "hello.png", class: "hello pr-3 pt-4", alt:"" %> </div> <%= link_to 'SHARE SOME MOTIVATION', buddyship_path(@user.buddyships.last), class: "btn-profile pt-4" %></h6>
                 <% end %>
               </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
