<div class="container">

</div>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="buddy-new">
  <div class="container">
    <div class="row">
      <% @same_goal_available.take(3).each do |buddy| %>
      <div class="col-md-4">
          <div class="card user-card">
              <div class="card-header">
                  <h5>
                    <%= link_to buddy.first_name, user_path(current_user) %>
                  </h5>
              </div>
              <div class="card-block">
                  <p class="text-muted"><%= buddy.introduction %></p>
                  <hr>
                  <p class="text-muted m-t-15"><%= buddy.current_goal.name %></p>

                  <hr>
                  <p class="text-muted m-t-15"><%= buddy.goal_description %></p>

                  <div class="btn btn-success"><%= link_to "Select", buddyships_path(buddy: buddy.id), method: "POST" %></div>
              </div>
          </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

