<div class='container-buddyship-new mx-auto mt-3 col-md-10'>

    <!-- Header -->
    <div class="header-buddyship">
        <div class="title-buddyship-new">
          We found
          <span class="highlighted"> <%= @same_goal_available.take(3).size %> </span>
          <span class="highlighted">best buddymatches</span> for you!
        </div>
    </div>

    <!-- Buddy cards -->
    <div class="card-deck">
      <div class="small-grey-link">
        <%= link_to "Go back", user_path(current_user) %>
      </div>
        <% @same_goal_available.take(3).each do |buddy| %>
        <div class="card col-md-3 mt-100 text-center">
            <div class="card-content">
                <div class="card-body">
                    <div class="profile-buddyship-new">
                      <!-- Avatar picture -->
                      <% if buddy.image.attached? %>
                        <%= cl_image_tag buddy.image.key, class: "avatar-bordered" %>
                      <% elsif buddy.photo.present? %>
                        <%= image_tag buddy.photo, class: "avatar-bordered" %>
                      <% else %>
                        <%= image_tag 'https://bootdey.com/img/Content/avatar/avatar3.png', class: "avatar-bordered" %>
                      <% end %>
                    </div>
                    <!-- Days on app -->

                    <h6 class="text-center">Joined <%= days = (Date.today.to_date - buddy.created_at.to_date).to_i %> days ago </h6>
                    <% if days < 50 %>
                      <%= image_tag "beginner_color.png", class: "hello" %>
                    <% elsif days.between?(50, 100) %>
                      <%= image_tag "half_color.png", class: "hello" %>
                    <% else %>
                      <%= image_tag "advanced2.png", class: "hello" %>

                    <% end %>
                    <!-- Profile description -->
                    <h2> <%= buddy.username %> </h2>
                    <div class="card-title buddyship-goal"> <%= buddy.current_goal.name %> </div>
                    <div class="card-title buddyship-new"> <%= buddy.country_name %> </div>
                    <div class="buddy-inner-container">
                      <p class="text-muted"> <%= buddy.goal_description %> </p>
                    </div>
                </div>

                <!-- Choose button -->
                <div class="card-footer">
                  <div class="btn buddy-btn-new">
                    <%= link_to "Choose #{buddy.username}" , buddyships_path(buddy: buddy.id), method: "POST" %>
                  </div>
                </div>
            </div>
      </div>
     <% end %>
    </div>
</div>
