<div class="container">
  <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> -->
  <div class="buddy-new">
    <!-- <div class="container"> -->
      <div class="row">
        <div class="bio-graph-heading-buddyships">

          <h1>We found 3 best buddymatches for you!</h1>
        </div>
        <!-- <h2>Choose your buddy now</h2> -->
        <% @same_goal_available.take(3).each do |buddy| %>
        <div class="col-md-4">
            <div class="card user-card buddyships">
                    <h5 id="name">
                      <%= link_to buddy.username, user_path(current_user) %>
                    </h5>
                <div class="card-block buddyships">
                    <p class="text-muted-buddyships"><%= buddy.country %></p>
                    <hr>
                    <p class="text-muted-buddyships m-t-15"><%= buddy.current_goal.name %></p>

                    <hr>
                    <p class="text-muted-buddyships m-t-15"><%= buddy.goal_description %></p>
                    <hr>
                    <div class="btn btn" id="buddy"><%= link_to "Choose your buddy", buddyships_path(buddy: buddy.id), method: "POST" %></div>
                </div>
            </div>
        </div>
        <% end %>
      </div>
    <!-- </div> -->
  </div>
</div>
