<div class="container">

<div class="bio-graph-heading-buddyships">
  <h1>Welcome to your accountability space,</h1>
<h1><%= @buddyship.user1.username %> and <%= @buddyship.user2.username %></h1>
 </div>

<div id="messages" data-buddyship-id="<%= @buddyship.id %>">
  <% @buddyship.messages.each do |message| %>
    <%= render 'messages/message', message: message %>
  <% end %>
</div>
<%= simple_form_for [ @buddyship, @message ], remote: true do |f| %>
  <%= f.input :content, label: false, placeholder: "Message" %>
  <%= f.submit "Send", class: "btn" %>
<% end %>
</div>
