<%= @buddyship.user1.first_name %>
<%= @buddyship.user2.first_name %>

<div id="messages" data-buddyship-id="<%= @buddyship.id %>">
  <% @buddyship.messages.each do |message| %>
    <%= render 'messages/message', message: message %>
  <% end %>
</div>

<%= simple_form_for [ @buddyship, @message ], remote: true do |f| %>
  <%= f.input :content, label: false, placeholder: "Message" %>
  <%= f.submit %>
<% end %>
